@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&display=swap");

.levelHeader {
  font-family: "Alegreya Sans SC", sans-serif;
  /* font-family: "Sigmar One", cursive; */
}

.prizePanel {
  font-family: "Alegreya Sans SC", sans-serif;
}

.page {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.currentLevelPanel {
  max-width: 800px;
  width: 100%;
}

.background {
  background: #9ae6ff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.sun {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  left: calc(50% - 100px);
}

.waves1 {
  position: absolute;
  bottom: 0;
}

.waves2 {
  position: absolute;
  bottom: 10px;
}

.waves3 {
  position: absolute;
  bottom: 20px;
}

.island1 {
  width: 300px;
  position: absolute;
  bottom: 100px;
}
